.section-container{
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.section-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    cursor: pointer;
}

.section-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    justify-content: space-between;
}

.section-show-more {
    color: var(--textgrey);
}

.section-title {
    color: var(--primary);
    font-size: 1.25rem;
    font-weight: 700;
}

.home-page-v {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.section-card-container {
    width: 160px;
    border-radius: 8px;
    background-color: #161616;
    padding: 0px 16px 16px 16px;
    display: flex;
    flex-direction: column;
}

.section-card-container:hover{
    background-color: #282828;
}


.section-card-main:hover > .card-play-button {
    font-size: 3rem;
    color: var(--green);
    visibility: visible;
}

.section-card-main {}

.section-card-picture {
    border-radius: 8px;
    width: 160px;
    margin-top: 1rem;
}

.section-card-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5;
}

.card-play-button {
    font-size: 3rem;
    color: var(--green);
    visibility: collapse;
}

.section-card-title {
    color: var(--primary);
    font-weight: 600;
    font-size: 0.95rem;
}

.section-card-description {
    color: var(--textgrey);
    font-size: 0.80rem;
    font-weight: 600;
}