.page-container {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 8px 8px 8px 0px;
    background-color: var(--grey);
}

.circle-darker-button {
    
}

.horizontal-buttons-container {
    display: flex;
}