.page-container {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 8px 8px 8px 0px;
    background-color: var(--lightergrey);
    padding: 18.8px;
}

.circle-darker-button {
    color: var(--textgrey);
    background-color: var(--lighterblack);
    border-radius: 100%;
    padding: 5px;
    cursor: not-allowed;
    height: 24px;
    width: 24px;
}

.horizontal-buttons-container {
    display: flex;
    gap: 5px;
}

.circle-darker-buttons-container {
    margin-right: auto;
    gap: 0.5rem;
}

.right-header-container {
    gap: 0.5rem;
}

header, .circle-darker-buttons-container, .right-header-container, .evenly-spaced-sidebar-container {
    display: flex;
}

.pill-button-sidebar {
    background-color: var(--lightergrey) ;
    color: white;
    border: none;
    cursor: pointer;
    padding: 8px;
}

.pill-button-header, .pill-button-sidebar {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.pill-button-header {
    border: none;
    cursor: pointer;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 164px;
    height: 32px;
}

.pill-button-header > i {
    font-size: 0.80rem;
}

.pill-button-header:hover {
    width: 167px;
    height: 33px;
}

.white-pill {
    background-color: var(--primary);
    color: var(--black);
}

.black-pill {
    background-color: var(--black);
    color: var(--primary);
}

.evenly-spaced-sidebar-container {
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.clickable-text {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
}

.clickable-text:hover {
    color: var(--textgrey);
}