.player-container {
    height: 56px;
    padding: 6px;
    display: flex;
    justify-content: space-between;
}

.player-cover-picture {
    width: 56px;
    border-radius: 8px;
}

.player-music-name {
    color: var(--primary);
    font-size: 14px;
}

.player-music-name:hover {
    text-decoration: underline;
}

.player-music-singer {
    color: var(--textgrey);
    font-size: 12px;
}

.player-left-area {
    display: flex;
    align-items: center;
    padding: 8px;
}

.player-center-area {}

.player-right-area {
    display: flex;
    gap: 8px;
    align-items: center;
}

.buttons-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-icon-large > i {
    color: var(--textgrey);
    font-size: 1.85rem;
}

.button-icon-large:hover > i {
    color: var(--primary);
    cursor: pointer;
}

.button-icon-smaller > i {
    font-size: 1.25rem;
    color: var(--textgrey) !important;
    cursor: pointer;
}

.button-icon-smaller:hover > i {
    color: var(--primary) !important;
}

.play-button-white > i {
    color: var(--primary) !important;
    font-size: 2.25rem !important;
}

.play-button-white:hover > i {
    color: var(--primary) !important;
    font-size: 2.40rem !important;
}

.playback-container {
    color: var(--textgrey);
    display: flex;
    flex-direction: row;
}

.playback-track {
    -webkit-appearance: none;
    background-color: var(--white) !important;
    width: 402px !important;
    height: 4px !important;
}

.volume-track {
    -webkit-appearance: none;
    background-color: var(--white) !important;
    width: 53px !important;
    height: 4px !important;
}

/*.playback-track::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: var(--green);
    opacity: 0.5;
    width: 10px;
    height: 26px;
}*/

.playback-track:hover {
    -webkit-appearance: none;
    background-color: var(--green) !important;
}

.volume-track:hover {
    -webkit-appearance: none;
    background-color: var(--green);
}

.progress-bar {
    width: 100%;
    height: 10px;
    background-color: #ccc;
    position: relative;
  }
  
  .progress-bar-fill {
    height: 100%;
    width: 0;
    background-color: #1db954;
    position: absolute;
  }
  
  .progress-slider {
    width: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    appearance: none;
    background: transparent;
  }
  
  .progress-slider::-webkit-slider-thumb {
    appearance: none;
    width: 12px;
    height: 12px;
    background: #1db954;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
  }