.player-container {
    height: 56px;
    padding: 6px;
    display: flex;
}

.player-cover-picture {}

.player-music-name {}

.player-music-singer {}

.player-left-area {
    display: flex;
}

.player-center-area {}

.player-right-area {}

.buttons-container {
    display: flex;
}

.button-icon-large > i {
    color: var(--textgrey);
    font-size: 2rem;
}

.button-icon-large:hover > i {
    color: var(--primary);
}

.play-button-white > i {
    color: var(--primary) !important;
    font-size: 2.25rem !important;
}