.player-container {
    height: 56px;
    padding: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player-cover-picture {
    width: 56px;
    border-radius: 8px;
}

.player-music-name {
    color: var(--primary);
    font-size: 13px;
}

.player-music-name:hover {
    text-decoration: underline;
}

.player-music-singer {
    color: var(--textgrey);
    font-size: 12px;
}

.player-left-area {
    display: flex;
    align-items: center;
    padding: 8px;
}

.player-center-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-right-area {
    display: flex;
    gap: 8px;
    align-items: center;
    padding-right: 8px;
}

.buttons-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 13px;
}

.button-icon-large > i {
    color: var(--textgrey);
    font-size: 1.85rem;
}

.button-icon-large:hover > i {
    color: var(--primary);
    cursor: pointer;
}

.button-icon-smaller > i {
    font-size: 1.40rem;
    color: var(--textgrey) !important;
    cursor: pointer;
}

.button-icon-smaller:hover > i {
    color: var(--primary) !important;
}

.play-button-white > i {
    color: var(--primary) !important;
    font-size: 2.25rem !important;
}

.play-button-white:hover > i {
    color: var(--primary) !important;
    font-size: 2.40rem !important;
}

.playback-container {
    color: var(--textgrey);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.track-progressbar {
    width: 402px;
    background-color:rgb(33, 33, 33);
    margin-left: 8px;
    margin-right: 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 4px;
}

.volume-bar {
    width: 53px !important;
}

.player-music-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15px;
    padding-right: 15px;
}