.left-sidebar-section {
    width: 266px;
    background-color: var(--grey);
    border-radius: 8px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    padding: 11.5px;
    color: var(--textgrey);
}

.library-sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.library-header-title,
.circle-icon-button  {
    color: var(--textgrey);
}

.library-header-title > i {
    font-size: 32px;
}

.library-header-title {
    font-size: 0.9rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    font-weight: 700;
}

.sidebar-large-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 0.90rem;
    font-weight: bold;
    gap: 1rem;
}

.sidebar-large-button > i {
    font-size: 32px !important;
}

.sidebar-large-button:hover,
.library-header-title:hover,
.circle-icon-button:hover {
    cursor: pointer;
    color: var(--primary);
}

.library-header-icons-container {
    display: flex;
    gap: 1rem;
}

.playlist-card-container {
    color: var(--textgrey);
}

.playlist-card-title {
    color: var(--primary);
}