.left-sidebar-section {
    width: 200px;
    height: 200px;
    background-color: var(--grey);
    border-radius: 8px;
    margin: 8px;
    display: flex;
    align-items: flex-start;
    padding: 1rem;
}

.sidebar-large-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.sidebar-large-button:hover {}