.left-sidebar-section {
    width: 266px;
    background-color: var(--grey);
    border-radius: 8px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    padding: 11.5px;
    color: var(--textgrey);
}

.library-sidebar-header {
    display: flex;
}

.library-header-title,
.circle-icon-button {
    color: var(--textgrey);
}

.sidebar-large-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
}

.sidebar-large-button:hover,
.library-header-title:hover,
.circle-icon-button {
    cursor: pointer;
    color: var(--primary);
}